<h1><%= t(".title") %></h1>

<%= render "form" %>
<%= render "admin/event_photos/form", :event => @event, :event_photo => @event_photo %>

<%= link_to t("back").humanize, admin_events_path, :class => "button" %>
