
// Browser's appearance reset
*{
  -moz-appearance: none;
  -webkit-appearance: none;
}

// Foundation customization
.top-bar{
  // background-color: transparent;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

// Application Css
@font-face {
  font-family: 'AmazoneBT';
  src: url('AmazoneBT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
h1,h2,h3,h4,h5,h6{
  @include pressed-text;
}
header{
  h1{
    a{
      width: 100%;
    }
    a, a:focus, a:hover, a small {
      color: inherit;
      font-weight: normal;
      .name{
          font-size: 100px;
          height: 100px;
      }
      .service{
        font-size: 15px;
        font-family: Serif;
        .first-letter{
          font-size: 25px;
        }
      }
    }
  }
}
 
.top-bar-section 
{
  ul li.active a{
    background: $topbar-link-bg-active;
  }
  li a:hover:not(.button){
    background: $topbar-link-bg-hover;
  }
}
.logo-font
{
  font-family: $logo-font-family;
}
body{
  // background-image: image-url("pereiraefranco-bg-texture.png"); 
  repeat: repeat;
}
#main{
  position: relative;
}


/* Animation keyframes - you need to add prefixes */
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.loading-overlay{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0, 0, 0, 0.85);
  z-index:9999;
  color:white;
   
}



