<h1>Quem somos?</h1>
<div class="row">
	<div class="large-8 columns">
<p>
	A <strong>Pereira & Franco Cenografias e Eventos</strong> é uma
	Empresa especializada na montagem de cenografias para eventos,tais como casamentos,
	15 anos, open house, corporativos, e tudo mais que se quer festejar...
</p>
</div>
