<h1>Quem somos?</h1>
<div class="row">
	<div class="large-7 columns">
<p>
	Nós da <span class="logo-font">Pereira & Franco Cenografias e Eventos</span> criamos o ambiente para que
	o seu casamento ou outro tipo de evento possa ser lembrado com toda a beleza do que ele representa.<br />
	
</p>
</div>
