//Variaveis Application
$main-color: #C67AD9;
$header-bg: rgba($main-color,0.3);
$logo-font-family: "AmazoneBT", Verdana, Tahoma;

//Variaveis Foundation
$body-bg: rgba($main-color,0.2);
$topbar-bg: rgba($main-color,1);
$topbar-link-color: #254019;

$topbar-link-bg-active: lighten($topbar-bg,10%);
$topbar-link-bg-hover: lighten($topbar-bg,5%);

$topbar-dropdown-bg: $topbar-bg;
$topbar-menu-link-color: $topbar-link-color;
$topbar-menu-icon-color: $topbar-link-color;
$topbar-menu-link-color-toggled: $topbar-menu-link-color;
$topbar-menu-icon-color-toggled: $topbar-menu-icon-color;

$header-font-family: $logo-font-family;
// $header-font-weight: bold;
// $header-font-style: normal;
$header-font-color: $topbar-link-color;
// $header-line-height: 1.4;
// $header-top-margin: .2em;
// $header-bottom-margin: .5em;

// $body-bg: #fff;
// $body-font-color: #222;
// $body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
// $body-font-weight: normal;
// $body-font-style: normal;

@import "foundation_and_overrides";
//= require jquery-ui
//= require_self
//= require_tree .

*{
  -moz-appearance: none;
  -webkit-appearance: none;
}

@font-face {
  font-family: 'AmazoneBT';
  src: url('AmazoneBT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

ul.clearing-thumbs 
{
  /*
  img
  {
    width: 200px;
  }
  */
}

header{
  background-color: $header-bg;
  h1{
  font-size: 50px;
  }
  .header-img{
  margin-top: 20px;
  }
  
}
.top-bar-container{
    background-color: $topbar-bg;
}

ul[data-orbit]
{
  height: 200px;
  img
  {
    height: 100%;
    width: 100%;
  }
}
.top-bar-section 
{
  ul li.active a{
    background: $topbar-link-bg-active;
  }
  li a:hover:not(.button){
    background: $topbar-link-bg-hover;
  }
}
.logo-font
{
  font-family: $logo-font-family;
}
.switch-lever{
  
}
.before-after-list li:hover
{
  z-index: 999999;
  position: fixed !important;
  background-color: rgba($main-color,0.5);
  top: 5%;
  height: 95%;
  width: 95%;
  img{
    position: absolute;
    
  }
}
